.cardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 27px;
  background-color: #f2f2f2;
}

.active {
  background-color: #7f7ff0;
}
.inactive {
  background-color: #d3dedc;
  color: black;
}
.text {
  width: 285px;
  padding: 7px;
  outline: none;
  font-size: large;
  margin-bottom: 16px;
  border: none;
  color: gray;
}
.btn {
  font-size: larger;
  background-color: #1976d2;
  color: white;
  font-weight: 100;
  padding: 6px;
  margin-top: 24px;
}
.btn:hover {
  background-color: #165798;
}
.notRegistered {
  display: flex;
  justify-content: center;
  margin-top: 7px;
}
.link {
  text-decoration: none;
  margin-left: 7px;
  color: #1976d2;
}
