.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: large;
  width: 900px;
  max-width: 90%;
  color: #454545;
  margin: 10px;
}

.left {
  display: flex;
  align-items: center;
}
